        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Poppins', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(to right, #00c6ff, #0072ff);
        }

        .container {
            max-width:400px;
            text-align: center;
            background: rgba(255, 255, 255, 0.9);
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        h1 {
            font-size: 3em;
            margin-bottom: 20px;
            color: #333;
        }

        section {
            font-size: 1.2em;
            margin-bottom: 20px;
            color: #333;
        }

		.helperText {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            width: 100%;
        }

        .threefields {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            width: 100%;
        }
        
        

        .threefields input[type="submit"],
        .threefields input[type="text"],
        .threefields textarea {
            width: 100%;
            max-width: 300px;
            padding: 15px;
            font-size: 1.2em;
            border: 2px solid #0072ff;
            border-radius: 5px;
            outline: none;
            transition: all 0.3s ease;
        }

        .threefields input[type="text"]:focus {
            border-color: #00c6ff;
            box-shadow: 0 0 10px rgba(0, 198, 255, 0.5);
        }

        input[type="submit"]:hover {
            background-color: #0072ff;
            color: #fff;
        }
     
